<div class="row">
  <div class="col d-flex justify-content-center">
    <img src="{{colleague.photo}}">
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <p> {{colleague.pseudo}}</p>
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <p> {{scoreToString()}}</p>
  </div>
</div>
<div class="row">
  <div class="col d-flex justify-content-center">
    <tc-like-hate (eventLikeHate)="likeOrHate($event)" [btnLikeDisable]="moreThan1000" [btnHateDisable]="lessThan1000"></tc-like-hate>
  </div>
</div>


