<h3>Historique</h3> <tc-counter></tc-counter>
<div class="m-4 align-content-center">
  <div *ngFor="let vote of votes" class="m-2">

    <div *ngIf="vote.vote=='LIKE'" class="border border-success bg-success" style="--bs-bg-opacity: .5;">
      <div class="col-4">
        <img src="{{vote.colleague.photo}}">
      </div>
      <div class="col-8">
        {{vote.colleague.pseudo}} est aimé(e), son score est désormais de {{vote.colleague.score}}
      </div>
    </div>
    <div *ngIf="vote.vote=='HATE'" class="border border-danger bg-danger" style="--bs-bg-opacity: .5;">
      <div class="col-4">
        <img src="{{vote.colleague.photo}}">
      </div>
      <div class="col-8">
        {{vote.colleague.pseudo}} est détesté(e), son score est désormais de {{vote.score}}
      </div>
    </div>

  </div>
</div>
